*{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      
  }
  h1{
      display: inline-block;
      border: 3px dashed purple;
      margin: 15px 0px 0px 550px;
      /*background-color: rgb(245, 227, 126);*/
      text-align: center;
      padding: 40px;
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: indigo;
  }
  /*h2 {
      border: 2px dashed purple;
      display: inline-block;
      margin: 20px 0px 10px 500px;
      background-color: wheat;
      text-align: center;
      font-size: 40px;
      font-family: 'Noto Sans JP', sans-serif;
      color: rgb(38, 125, 197);
  }*/
  
  p{
      /*background-color: wheat;*/
      border: 3px dashed purple;
      text-align: center;
      color: navy;
      font-size: 20px;
      width: 600px;
      height: 200px;
      padding: 60px;
      margin: 20px 100px 45px 400px;
      font-family: 'Noto Sans JP', sans-serif;
  }
  h3{
      display: inline-block;
      border: 3px dashed purple;
      width: 350px;
      margin: 0px 0px 0px 580px;
      text-align: center;
      font-size: 20px;
      padding: 15px;
      font-family: 'Noto Sans JP', sans-serif;
      color: navy;
      
  }
  ol{
     display: inline-block;
      border: 3px dashed purple;
      width: 400px;
      padding: 10px;
      margin: 20px 10px 20px 540px;
      text-align: center;
      font-size: 20px;
      padding: 25px;
      font-family: 'Noto Sans JP', sans-serif;
      color: navy;
      
      /*border: 2px dashed purple;
      text-align: center;
      width: 300px;
      font-size: 25px;
      font-family: 'Noto Sans JP', sans-serif;
      color: navy;
  */
  }
  h4{
      display: inline-block;
      border: 3px dashed purple; 
      background-color: wheat;
      margin: 20px 0px 20px 710px;
      text-align: center;
      padding: 15px;
      font-family: 'Noto Sans JP', sans-serif;
      color: navy;
  }
  ul {
      text-align: center;
      width: 400px;
      padding: 50px;
      height: 200px;
      margin: 10px 0px 20px 520px;
      border: 3px dashed purple;
      font-family: 'Noto Sans JP', sans-serif;
      font-size: 20px;
      color: navy;
      
  }